# Database
# For development: file:./dev.db (SQLite)
# For production: postgresql://user:password@host:5432/database (Supabase)
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Google OAuth (Google Cloud Console)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Environment
NODE_ENV="development"

